p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
:root {
  --header-color: #212121;
  --header-text-color: #2f303a;
  --main-color: #2196f3;
  --main-bgd-color: #ffffff;
  --main-team-color: #f5f4fa;
  --contacts-color: #757575;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  outline: 1px solid transparent;
  box-sizing: border-box;
}
.section {
  width: 1600px;
  padding-top: 94px;
  padding-bottom: 94px;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--header-color);
  background-color: var(--main-bgd-color);
}
.link {
  list-style: none;
  text-decoration: none;
}
/* ------------Header--------------------- */
.page-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.main-nav {
  display: flex;
  align-items: center;
}
.logo-nav {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--main-color);

  padding-top: 24px;
  padding-bottom: 25px;
  align-items: center;
  display: block;
  margin-right: 93px;
  transition-property: text-decoration-color, border, border-width;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .contacts {
  display: flex;
  align-items: center;
}
.link-nav {
  padding-top: 32px;
  padding-bottom: 32px;
}
.list-nav {
  display: flex;
  align-items: center;
}
.logo-nav:hover,
.logo-nav:focus {
  text-decoration-color: var(--main-color);
  border: 1px solid #ececec;
  border-width: 100%;
}
.link.current {
  color: var(--main-color);
}
.item-nav {
  position: relative;
  z-index: 1;
}
.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  bottom: -1px;
}
.text-decor {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
}
.link-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}
.link-nav:hover,
.link-nav:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--main-color);
  text-decoration-color: var(--main-color);
}
.item-nav + .item-nav {
  margin-left: 50px;
}
.contacts {
  display: flex;
  margin-left: auto;
}
.contacts .contacts-item + .contacts-item {
  margin-left: 50px;
}
.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contacts-color);
  padding-top: 32px;
  padding-bottom: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: color, text-decoration-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-pic {
  fill: currentColor;
  margin-right: 10px;
}
/*ul.contacts.link {
  color: #212121;
}*/
/* ------------------ MAIN---------------*/
/*---------Section decision-------------*/
.decision {
  text-align: center;
  height: 600px;
  padding: 200px 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  max-width: 1600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  margin: 0 auto;
  background-color: #c4c4c4;
}
/*  background: var(--header-text-color);*/
.decision-title {
  margin: 0 auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-bgd-color);
  max-width: 696px;
  outline: 1px solid transparent;
}
/*.decision-title:hover {
  color: var(--main-color);
}*/
.decision-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-bgd-color);
  background: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;

  margin-top: 30px;
  padding: 10px 32px;
  outline: 1px solid transparent;

  transition-property: background, box-shadow, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.decision-btn:hover,
.decision-btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/*-----------------Section benefits----------------*/
.benefits {
  width: 100%;
}
.benefits-list {
  display: block;
  display: flex;
}
.benefits-list:last-child {
  margin-right: 0;
}
.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  outline: 1px solid transparent;
  display: block;
  display: flex;
  flex-basis: calc(100% / 4 - 30px);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--contacts-color);
  letter-spacing: 0.03em;
  margin-top: 10px;
  outline: 1px solid transparent;
  display: block;
  flex-basis: calc(100% / 4 - 30px);
}
.zero {
  margin-right: 0;
}
.benefits-points {
  margin-right: 30px;
}
.benefits-box {
  margin-bottom: 30px;
  display: flex;
  background: var(--main-team-color);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
}
.benefits-points:last-child {
  margin-right: 0;
}
/*--------------------Section works--------------*/
.works {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  width: 100%;
  padding-bottom: 94px;
}
.works-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);

  outline: 1px solid transparent;

  transition-property: text-decoration-line, text-decoration-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.works-list {
  display: flex;
  margin-top: 50px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.works-item {
  margin-right: 30px;
  outline: 1px solid transparent;
  width: 370px;
}
.works-item:last-child {
  margin-right: 0;
}

.works-title:hover,
.works-title:focus {
  text-decoration-line: underline;
  text-decoration-color: var(--main-color);
}
.works-apps {
  position: relative;
}
.works-text-describe {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  height: 70px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.works-pictures-actions {
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
}
.works-pictures-actions {
  position: absolute;
  bottom: 0;
  left: 0;
}
/*---------------Section TEAM----------------*/
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  background: var(--main-team-color);
  border-radius: 0px;
  letter-spacing: 0.03em;
  width: 100%;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  background: var(--main-team-color);
  border-radius: 0px;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 50px;
  outline: 1px solid transparent;

  transition-property: text-decoration-line, text-decoration-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-title:hover,
.team-title:focus {
  text-decoration-line: underline;
  text-decoration-color: var(--main-color);
}
.team-list {
  display: flex;
}
.team-list:nth-child(1n) {
  margin-left: 0;
}
.team-list:nth-child(3n) {
  margin-right: 0;
}
.team-photo + .team-photo {
  margin-left: 30px;
}
.team-photo {
  display: block;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-position {
  text-align: center;
}
.team-describe {
  background-color: var(--main-bgd-color);
  margin-top: -5px;
  padding: 30px 32px;
}

.team-participant {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  height: auto;
  display: block;
  margin-bottom: 10px;
  transition-property: text-decoration-line, text-decoration-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-participant:hover,
.team-participant:focus {
  text-decoration-line: underline;
  text-decoration-color: var(--main-color);
}
.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
  display: block;
  margin-bottom: 16px;
  transition-property: text-decoration-line, text-decoration-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-position:hover,
.team-position:focus {
  text-decoration-line: underline;
  text-decoration-color: var(--main-color);
}
.social-sites {
  display: flex;
  justify-content: center;
}
.social-sites-item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}
.social-sites-item:first-child {
  margin-left: 0;
}
.social-sites-link {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--main-bgd-color);
  color: #afb1b8;

  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-sites-link:hover,
.social-sites-link:focus {
  background-color: var(--main-color);
  color: #ffffff;
}
.social-items-insta,
.social-items-twitter,
.social-items-fb,
.social-items-in {
  fill: currentColor;
}
/*-- ---------------Clients-------------*/
.client {
  width: 100%;
  height: 372px;
  padding-top: 94px;
  padding-bottom: 94px;
}
.client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
}
.client-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.client-logo {
  width: 170px;
  height: 92px;
  margin-left: 30px;
}
.client-logo:first-child {
  margin-left: 0;
}
.client-link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  outline: transparent;
  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-logo-item {
  fill: currentColor;
}
.client-link:hover,
.client-link:focus {
  border-color: #2196f3;
  color: #2196f3;
}
/* ----------------FOOTER--------------*/
.adress {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  height: 252px;
  letter-spacing: 0.03em;
  background: var(--header-text-color);

  padding-top: 60px;
  padding-bottom: 60px;
  outline: 1px solid transparent;
  width: 100%;
}
.container > .footer-join,
.container > .footer-adress,
.container > .subscription {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-start;
}

.footer-join {
  margin-left: auto;
}
.adress-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-color);
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 20px;
  transition-property: text-decoration-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-logo:hover,
.adress-logo:focus {
  text-decoration-color: var(--main-color);
  border: 1px solid #ececec;
}
.adress-logo-decor {
  color: var(--main-bgd-color);
}
.adress-details {
  margin-bottom: 9px;
}
.adress-street {
  font-size: 14px;
  line-height: 2;
  color: var(--main-bgd-color);
  letter-spacing: 0.03em;

  display: block;

  transition-property: color, text-decoration-line;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-street:hover,
.adress-street:focus {
  text-decoration-line: underline;
  text-decoration-color: var(--main-color);
  color: var(--main-color);
}
.adress-mail {
  font-size: 14px;
  line-height: 2;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;

  display: block;
  margin-bottom: 9px;

  transition-property: color, text-decoration-line;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-mail:hover,
.adress-mail:focus {
  text-decoration-line: underline;
  text-decoration-color: var(--main-color);
  color: var(--main-color);
}
.adress-phone {
  font-size: 14px;
  line-height: 2;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;

  transition-property: color, text-decoration-line;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-phone:hover,
.adress-phone:focus {
  text-decoration-line: underline;
  text-decoration-color: var(--main-color);
  color: var(--main-color);
}
.adress-list .adress-details {
  font-style: normal;
}
.adress-list {
  display: block;
}

.join-list {
  display: flex;
}
.join-text {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  margin-bottom: 20px;
}
.join-item {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-left: 10px;
}
.join-item:first-child {
  margin-left: 0;
}
.join-link {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.join-link:hover,
.join-link:focus {
  background-color: var(--main-color);
}
.join-svg {
  display: block;
  fill: #ffffff;
}
.subscription {
  margin-left: auto;
}
.subscription-head {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  margin-bottom: 20px;
}
.subscription-email {
  width: 358px;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  display: flex;
  outline: none;
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  color: var(--main-bgd-color);
  background: #2f303a;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-email:hover,
.subscription-email:focus {
  border-color: #2196f3;
}
.subscription-email::placeholder {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background: #2f303a;
  width: 100%;
  height: 100%;
}
.subscription-btn {
  letter-spacing: 0.06em;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  position: relative;
  cursor: pointer;
  background: #2196f3;
  border: none;
  margin-left: 12px;
  align-items: center;
  justify-content: center;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-btn:hover,
.subscription-btn:focus {
  background: #188ce8;
}
.subscription-pic {
  fill: rgba(255, 255, 255, 1);
  width: 24px;
  height: 24px;
  display: flex;
  margin-left: 10px;
}
.subscription-pic::after {
  content: "";
  display: flex;
  position: absolute;
}
.subscription-field {
  display: flex;
  justify-content: space-between;
}

/*-----------PORTFOLIO------------------*/
.page-header {
  border-bottom: 1px solid #ececec;
}
.portfolio-page {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-list {
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-item {
  margin-right: 8px;
}
.portfolio-item:last-child {
  margin-right: 0;
}
.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  border: none;

  transition-property: background, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--main-bgd-color);
  background: var(--main-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list {
  display: flex;
}
.current-all {
  color: var(--main-bgd-color);
  background-color: var(--main-color);
}
.examples {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.examples-item {
  margin: 15px;
  width: calc(100% / 3 - 30px);
  font-family: "Roboto", sans-serif;
}
.examples-link {
  display: block;
  text-decoration: none;

  transition-property: background, border, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.examples-link:hover,
.examples-link:focus {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.examples-text {
  position: absolute;
  top: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples-pictures {
  position: relative;
  overflow: hidden;
}
.examples-link:hover .examples-text,
.examples-link:focus .examples-text {
  transform: translateY(0);
}
.examples-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-color);

  margin-bottom: 4px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.examples-title:hover,
.examples-title:focus {
  color: var(--main-color);
}
.examples-box {
  padding: 20px 24px;
  background-color: var(--main-bgd-color);
  border: 1px solid #eeeeee;
  border-top: 0;
}
.examles-describe {
  font-size: 16px;
  line-height: 1.88;
  color: var(--contacts-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  color: #757575;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.examles-describe:hover,
.examles-describe:focus {
  color: var(--main-color);
}
/*-----------------MODAL WINDOW-----------------------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(0, 0, 0, 0.2);
}
.modal {
  width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  position: absolute;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
.modal-close-btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  right: 8px;
  top: 8px;
  background-color: transparent;
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: #2196f3;
  border-color: #2196f3;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(-360deg);
}
.join-svg-cross {
  color: rgba(0, 0, 0, 1);
}
.modal-field-head {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;

  display: block;
  margin-bottom: 12px;
}
.modal-field {
  display: block;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  background-color: transparent;
  padding-left: 42px;
  outline-color: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover,
.modal-input:focus {
  border-color: #2196f3;
}
/*.checkbox-square {
  width: 16px;
  height: 15px;
  margin-top: 25px;
}*/
.icon-check {
  width: 16px;
  height: 15px;
  margin-top: 25px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-check:hover,
.icon-check:focus {
  border-color: #2196f3;
}
.modal-text {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  display: block;
  margin-bottom: 20px;
  padding: 12px 16px;
  outline-color: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text:hover,
.modal-text:focus {
  border-color: #2196f3;
}
.modal-placeholder::placeholder,
.modal-text::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-input:hover ~ .user-icon-modal,
.modal-input:focus ~ .user-icon-modal {
  fill: #2196f3;
}

.modal-btn-submit {
  width: 200px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  padding: 10px 56px 10px 55px;
  cursor: pointer;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  margin-top: 30px;
  margin-left: 124px;

  transition-property: background, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-submit:hover,
.modal-btn-submit:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.checkbox {
  display: block;
  align-items: center;
}
.modal-input-wrapper {
  position: relative;
  margin-bottom: 10px;
}
.user-icon-modal {
  position: absolute;
  display: inline-block;
  fill: var(--header-color);
  top: 11px;
  left: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.user-icon-modal:hover,
.user-icon-modal:focus {
  fill: var(--main-color);
}
.agreement-act {
  color: rgba(33, 150, 243, 1);
}
.privacy {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.privacy span {
  border: 1px solid rgba(34, 34, 34, 0.2);
  margin-right: 5px;
  left: 0;
}

.check-icon {
  fill: transparent;
  padding-top: 4px;
  cursor: pointer;
}

.checkbox-square:checked + .privacy span {
  background-color: #2196f3;
  border: none;
}

.checkbox-square:checked + .privacy .check-icon {
  fill: #ffffff;
}
.icon-check:checked + .privacy span {
  background-color: #2196f3;
  border: none;
}
.icon-check:checked + .privacy .check-icon {
  fill: #ffffff;
}
