.client {
  width: 100%;
  height: 372px;
  padding-top: 94px;
  padding-bottom: 94px;
}
.client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
}
.client-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.client-link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  outline: transparent;
  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  border-color: #2196f3;
  color: #2196f3;
}
